<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Api</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <header>
        <div class="mainContainer">
            <div class="secondContainer">
                <div>
                    <ul>
                        <li>Home</li>
                        <li>Sports</li>
                        <li>About</li>
                    </ul>
                </div>

                <div>
                    <figure>
                        <img src="./mainLogo.png" alt="">
                    </figure>
                </div>
            </div>
       </div>
    </header>
    
    <main>
        
    </main>





    <footer>
        <div class="mainContainerFooter">
            <div>
                <div>
                    <p>All rights reserved ©</p>
                </div>

                <div>
                    <div>
                        <p>Follow us:</p>
                    </div>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>