html {
    font-size: 15px;
}
* {
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.mainContainer {
    width: 100%;
    background-color: #000000;
    color: aliceblue;
}
.secondContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContainer .secondContainer div ul {
    list-style: none;
    display: flex;
    margin-right: 2rm;
    cursor: pointer;
}

.mainContainer .secondContainer div ul li {
    padding-right: 1.5rem 
}

.mainContainer .secondContainer img {
    width: 10%;
    height: 10%;
}

.containerLogoAppFigure {
    background-color: #FFFF;
}